.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.auth-btn {
  width: 320px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: none;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 600;
  font-family: Arial, sans-serif;

  cursor: pointer;
  transition: 0.25s ease;

  color: white;
}

.auth-btn svg {
  font-size: 20px;
}

.signup-btn {
  background: #111;
}
.signin-btn {
  background: #444;
}

.google-btn {
  background: #db4437;
}
.facebook-btn {
  background: #1877f2;
}
.linkedin-btn {
  background: #0a66c2;
}
.discord-btn {
  background: #5865f2;
  margin-bottom: 14px;
}

.auth-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* .auth-legal {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  display: flex;
  color: #9ca3af;
  align-items: center;
} */

.auth-legal {
  /* margin-top: 14px; */
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
}

.auth-legal button {
  background: none;
  border: none;
  color: #9ca3af;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
}

/* .auth-legal button {
  background: none;
  border: none;

  color: rgba(17, 24, 39, 0.65);

  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;

  transition: 0.2s ease;
} */

/* .auth-legal button:hover {
  color: rgba(17, 24, 39, 0.95);
} */

.auth-legal p {
  font-size: 14px;
  font-weight: 700;
  color: #111827;
}

.auth-legal button:hover {
  color: #111827;
}

.auth-divider {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 18px 0;
  position: relative;
}

.auth-divider span {
  font-size: 12px;
  font-weight: 600;
  color: #9ca3af;
  background: #fff;
  padding: 0 10px;
  z-index: 1;
}

.auth-divider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e5e7eb;
  top: 50%;
  left: 0;
}
